@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: KidSans;
    src: url('../fonts/kid-sans.ttf');
}

@font-face {
    font-family: Mister-Froggie-Regular;
    src: url('../fonts/mister-froggie-regular.otf');
}

@font-face {
    font-family: SmartKid;
    src: url('../fonts/smart-kid.otf');
}
.kid-sans {
    font-family: KidSans, Arial, Helvetica, sans-serif !important;
}
.mister-froggie-regular {
    font-family: Mister-Froggie-Regular, Arial, Helvetica, sans-serif !important;
}
.open-sans {
    font-family: 'Open-Sans', sans-serif;
}
.smart-kid {
    font-family: SmartKid, Arial, Helvetica, sans-serif !important;
}

body {
    background: #cc0000;
    color: #202020;
    font-family: 'SmartKid', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1 {
    font-family: 'Mister-Froggie-Regular', Arial, Helvetica, sans-serif;
    font-size: 80px;
}

/* colors */
.bg1 {
    background-color: #cc0000;
}
.bg2 {
    background-color: #007a7a;
}
.bg3 {
    background-color: #7fbe00;
}
.color1 {
    color: #cc0000;
}
.color2 {
    color: #007a7a;
}
.color3 {
    color: #7fbe00;
}
/* end colors */

/* title */
#app-title {
    position: fixed;
    top: -130px;
    width: 100%;
}
/* end title */

/* main */
#main {
    padding-top: 16px;
}

#main #settings-btn {
    cursor: pointer;
    font-size: 32px;
}
/* end main */

/* main menu */
#main-menu {
    background-color: #cc0000;
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 100;
}

#main-menu li {
    border-bottom: 2px solid #fff;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#main-menu li:last-child {
    background: #202020;
    border-bottom: none;
}

#main-menu button.btn-link, #main-menu a.btn-link {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 24px;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}

#main-menu button.btn-link:active, #main-menu button.btn-link:hover {
    background-color: #a70000;
}

#main-menu li:last-child button.btn-link:active, #main-menu li:last-child button.btn-link:hover {
    background-color: #101010;
}

#background-overlay {
    background: #202020;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
/* end main menu */

/* timer */
.items-score-wrapper {
    font-size: 36px;
    padding: 4px;
}
#timer-items-added {
    line-height: 120%;
}
.timer-btn {
    cursor: pointer;
}
.timer-btn:active, .timer-btn:hover, .timer-btn.disabled {
    opacity: .7;
}

#timer-add-item {
    font-size: 48px;
    margin-top: 16px;
}

#timer-selection-wrapper {
    background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    padding-top: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;

}

#timer-selection-wrapper .timer-selection-btn-wrapper {
    margin-bottom: 16px;
}

#timer-selection-wrapper button {
    font-size: 24px;
}

#timer-pause {
    cursor: pointer;
}

#timer-start {
    cursor: pointer;
}

#timer-time-wrapper {
    background: #202020;
    color: #fff;
    margin-right: -23px;
}

#timer-wrapper {
    font-size: 48px;
}
/* end timer */

/* footer */
#fixed-footer {
    background-color: #202020;
    color: #808080;
    font-family: Arial Helvetica, sans-serif;
    font-size: 14px;
    left: 0px;
    bottom: 0px;
    padding: 24px 0;
    position: fixed;
    width: 100%;
}
/* end footer */

/* falling toys */
.falling-toy {
    display: block;
    position: fixed;
    top: -100px;
}
/* end falling toys */

/* bootstrap overrides */
.btn-primary {
    background-color: #007a7a;
    border-color: #007a7a;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #006464;
    border-color: #006464;
}

.btn-default {
    background-color: #404040;
    border-color: #404040;
    color: #fff;
}
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
    background-color: #202020;
    border-color: #202020;
    color: #fff;
}

.btn-danger {
    background-color: #cc0000;
    border-color: #cc0000;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #a70000;
    border-color: #a70000;
}

.btn-secondary {
    background-color: #7fbe00;
    border-color: #7fbe00;
    color: #fff;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #689c00;
    border-color: #689c00;
    color: #fff;
}

.btn-link {
    color: #fff;
}
/* end bootstrap overrides */