@font-face {
    font-family: Mister-Froggie-Regular;
    src: url('../fonts/mister-froggie-regular.otf');
}

@font-face {
    font-family: SmartKid;
    src: url('../fonts/smart-kid.otf');
}

body {
    color: #202020;
    font-family: 'SmartKid', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1 {
    font-family: 'Mister-Froggie-Regular', Arial, Helvetica, sans-serif;
    font-size: 80px;
}

/* colors */
.bg1 {
    background-color: #cc0000;
}
.bg2 {
    background-color: #007a7a;
}
.bg3 {
    background-color: #7fbe00;
}
.color1 {
    color: #cc0000;
}
.color2 {
    color: #007a7a;
}
.color3 {
    color: #7fbe00;
}
/* end colors */

/* title */
#app-title {
    position: fixed;
    top: -130px;
    width: 100%;
}
/* end title */

/* main */
#main {
    padding-top: 16px;
}

#main #settings-btn {
    cursor: pointer;
    font-size: 32px;
}
/* end main */

/* main menu */
#main-menu {
    background-color: #cc0000;
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 100;
}

#main-menu li {
    border-bottom: 2px solid #fff;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#main-menu li:last-child {
    background: #202020;
    border-bottom: none;
}

#main-menu button.btn-link {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 24px;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}

#main-menu button.btn-link:active, #main-menu button.btn-link:hover {
    background-color: #a70000;
}

#main-menu li:last-child button.btn-link:active, #main-menu li:last-child button.btn-link:hover {
    background-color: #101010;
}

#background-overlay {
    background: #202020;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
/* end main menu */

/* footer */
#fixed-footer {
    background-color: #202020;
    color: #808080;
    font-family: Arial Helvetica, sans-serif;
    font-size: 14px;
    left: 0px;
    bottom: 0px;
    padding: 24px 0;
    position: fixed;
    width: 100%;
}
/* end footer */

/* falling toys */
.falling-toy {
    display: block;
    position: fixed;
    top: -100px;
}
/* end falling toys */